$primary: #F49D37; // Black
$secondary: #140f2d; // White
$tertiary: #3F88C5; // 
$accent: #70C1B3; // Black
$dark: black; // White
$light: #FFFFFF; // Black
$danger: red;
$success: #00FF7F;
$gray: gray;

$button-colors: (
    'text-dark': (
        'primary': $primary,
        'accent': $accent,
        'light': $light,
    ),
    'text-light': (
        'secondary': $secondary,
        'dark': $dark,
        'danger': $danger,
        'success': $success,
    ),
);

$breakpoints: (
    'xs': 576px,
    's': 768px,
    'm': 992px,
    'l': 1200px,
)